﻿@model LuzdelSur.Comercial.WebExtCom.Web.Admin.Models.User
@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Luz del Sur</title>
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="icon" href="~/assets/images/favicon.ico">
    <script src="https://kit.fontawesome.com/30a8ab737e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="background-image"></div>
    <div class="login-container">
        <div class="login-box">
            <div style="
                 display: flex;
                 justify-content: center;
                 align-items: center;">
                <div class="logo-box">
                    <div class="logo"></div>
                </div>
            </div>
            
            <h2>Bienvenido</h2>
            <form asp-action="Login" method="post">
                <div class="input-group">
                    <label asp-for="Usuario"><i class="fa-solid fa-user"></i></label>
                    <input placeholder="Usuario" asp-for="Usuario" class="form-control" />
                </div>
                <div class="input-group">
                    <label asp-for="Contrasena"><i class="fa-solid fa-lock"></i></label>
                    <input placeholder="Contraseña" asp-for="Contrasena" type="password" class="form-control" />
                </div>
                <button type="submit" class="btn-login">Iniciar Sesión</button>
                <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>

            </form>
        </div>
    </div>

</body>
</html>