﻿body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    overflow: hidden;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/Fondo de pantalla.png');
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    z-index: -1;
}

.login-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.logo-box {
    width: 225px;
    height: 63px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    height: 100%;
    background-image: url("../images/LDS.jpeg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    position: relative;
}

    .input-group label {
        color: #999;
        align-content: center;
        display: block;
        z-index: 1;
        position: absolute;
        height: 100%;
        padding-left: 10px;
    }

    .input-group input {
        width: calc(100% - 40px);
        padding: 10px 10px 10px 40px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
        color: #333;
    }

.btn-login {
    background: linear-gradient(135deg, #ffcc00, #ff9900);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

    .btn-login:hover {
        background: linear-gradient(135deg, #ff9900, #ffcc00);
    }

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #ff9900;
    text-decoration: none;
    font-size: 14px;
}

    .forgot-password:hover {
        text-decoration: underline;
    }
